@tailwind base;
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #34354110;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* 
.animate-bounce {
  animation: bounce 1.4s infinite ease-in-out both;
} */

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@tailwind components;
@tailwind utilities;
